# This is a basic workflow to help you get started with Actions

name: CI and Deploy

# Controls when the action will run. 
on:
  # Triggers the workflow on push but only for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # The job name of the action
  publish-pages:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      
        with:
          node-version: 14
      
      - run: npm ci
      - run: git config user.name "SDBagel" && git config user.email "sdbagel@gmail.com"
      - run: npm run deploy
      
    env:
      GH_TOKEN: ${{secrets.SECRET_GITHUB_TOKEN}}
